  <div class="row">
    <div class="small-8 columns post_form">
      <%= simple_form_for @post, url: posts_path, method: :post, remote: true do |f| %>
        <%= f.input :content, label: 'Add a post' %>
        <%= f.submit class: 'button new-post' %>
      <% end %>
    </div>
  </div>


  <div class='posts'>
    <% @posts.reverse.each do |post| %>
    <div class='post media'>
      <div class="media-img">
        <%= image_tag(post.user.image_url(:image))%>
      </div>
      <div class ='media-body'>
        <%= post.content %>
        <ul class="inline-list post-actions">
          <li><%= link_to 'Comment', post_path(post) %></li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>




