<!DOCTYPE html>
<html>
<head>
  <title>Faceboot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if request.env['PATH_INFO'] != new_user_registration_path && request.env['PATH_INFO'] != '/users' %>
      <nav>
          <ul>
              <% if !user_signed_in? %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
              <% else %>
                <li>Welcome <%= current_user.name %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <% end %>
          </ul>
      </nav>
    <% end %>


<p class="notice"><%= flash[:notice] %> </p>
<p class="notice"><%= flash[:alert] %> </p>



<%= yield %>


</body>
</html>
