<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Faceboot" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if request.env['PATH_INFO'] != new_user_registration_path && request.env['PATH_INFO'] != '/users' %>
            <nav class= 'top-bar'>
                  <ul class= 'title-area'>
                  <li class="name">
                  <h2><%= link_to "Faceboot", posts_path %> </h2>
                  </li>
                  </ul>
                  <section class="top-bar-section">
                  <ul class="right">
                    <% if !user_signed_in? %>

                    <li class='active'><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li class="divider"></li>
                    <li class='active'><%= link_to "Sign In", new_user_session_path %></li>
                  <% else %>
                    <li>Welcome <%= current_user.first_name%></li>
                    <li class='active'><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  <% end %>
              </ul>
          </nav>
        <% end %>


    <p class="notice"><%= flash[:notice] %> </p>
    <p class="notice"><%= flash[:alert] %> </p>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
